body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.highlighted{
    color: #743ADA;
}
.first{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.second img{
    width: 50%;
}
section{
    height: 550px;
}
.topbanner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.button{
    text-decoration: none;
    background: rgb(126, 19, 94);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}